:root {
    --placeholdervariable: something;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

ul {
    list-style: none;
}

.data-bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #bbb;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
}

.data-daily {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #bbb;
    border-radius: 10%;
    width: 45vw;
}
