:root {
    --placeholdervariable: something;
    --bubbleWidth: 400px;
    --bubbleHeight: 400px;
    --forecastWidth: 50%;
}

body {
    background-image: url(../art/raindropsseamless.jpg);
    height: 100vw;
    font-family: 'Indie Flower', cursive;
}

header {
    width: 80%;
    font-family: 'Allison', cursive;
    font-size: 150%;
}

main {
    width: 80%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    background-color: #FEC8D8;
    border-width: 15%;
    border-radius: 25px;
    text-align: center;
    font-size: 350%;
    filter: drop-shadow(7px 7px 0px #957DAD)
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.search-form input {
    text-align: center;
    font-size: 150%;
    background-color: rgb(223, 221, 230);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    filter: drop-shadow(7px 7px 0px #957DAD);
    font-family: 'Indie Flower', cursive;
}

.search-form button {
    background-color: #D291BC;
    font-size: 150%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    filter: drop-shadow(7px 7px 0px #957DAD);
    font-family: 'Indie Flower', cursive;
}

.history {
    display: flex;
    justify-content: space-evenly;
}

.history button {
    margin-top: 2%;
    border-radius: 25%;
    width: 150px;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

ul {
    list-style: none;
}

.search-list {
    display: flex;
    justify-content: space-between;
}

.forecast-box {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    background-color: #FFDFD3;
    filter: drop-shadow(7px 7px 0px #957DAD);
    padding: 4%;
    width: 10%;
}

@media screen and (max-width: 900px) {
    .header {
        width: 90%;
    }

    .main {
        width: 90%;
    }
    
    .search-list {
    flex-direction: column;
    }

    .forecast-box {
        width: 92%;
    }

    .forecast-box li {
        font-size: 180%;
    }

    .history {
        flex-flow: row wrap;
    }
}

.forecast-box li {
    padding-bottom: 7%;
}

#day {
    font-size: 150%;
    font-weight: 900;
}

#description {
    font-size: 100%;
    font-style: italic;
}

#temp {
    font-size: 150%;
}

.low {
    background-color: rgb(18, 129, 124);
    padding-top: 7%;
    border-radius: 25px;
    width: 100%;
    color: #eee;
}

.moderate {
    background-color: rgb(175, 145, 88);
    padding-top: 7%;
    border-radius: 25px;
    width: 100%;
    color: #eee;
}

.high {
    background-color: rgb(155, 94, 25);
    padding-top: 7%;
    border-radius: 25px;
    width: 100%;
    color: #eee;
}

.very-high {
    background-color: rgb(155, 25, 79);
    padding-top: 7%;
    border-radius: 25px;
    width: 100%;
    color: #eee;
}

.extreme {
    background-color: rgb(129, 25, 155);
    padding-top: 7%;
    border-radius: 25px;
    width: 100%;
    color: #eee;
}