:root {
    --placeholdervariable: something;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

ul {
    list-style: none;
}

.bubble {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

